@using DogMatch.Client.Services
@inject TemperamentState state

<div>
    <MatH5>Atheltic Level Rating</MatH5>
    <TemperamentFormField Value="@(state.Temperament.AthleticLevel ?? 0)"
                          Name="AthleticLevel" />
    <br />
    <MatH5>Enjoys Exercise Rating</MatH5>
    <TemperamentFormField Value="@(state.Temperament.LikesExercise ?? 0)"
                          Name="LikesExercise" />
    <br />
    <MatH5>Level of Training Rating</MatH5>
    <TemperamentFormField Value="@(state.Temperament.TrainingLevel ?? 0)"
                          Name="TrainingLevel" />
    <br />
    <MatH5>Trainability Rating</MatH5>
    <TemperamentFormField Value="@(state.Temperament.Trainability ?? 0)"
                          Name="Trainability" />
    <br />
    <MatH5>Stubbornness Rating</MatH5>
    <TemperamentFormField Value="@(state.Temperament.Stubbornness ?? 0)"
                          Name="Stubbornness" />
    <br />
    <MatH5>Intelligence Rating</MatH5>
    <TemperamentFormField Value="@(state.Temperament.Intelligence ?? 0)"
                          Name="Intelligence" />
</div>

@code {
    protected override void OnInitialized() => state.OnChange += RefreshComponent;
    private void RefreshComponent() => StateHasChanged();
}
