@page "/DoggoDetails/{id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using DogMatch.Client.Services
@using System.IO
@using System.Net.Http
@using Blazor.FileReader

@attribute [Authorize]
@inject DogState state
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IFileReaderService fileReaderService

<AuthorizeView>
    <Authorized>
        <div style="text-align:center !important">
            <MatH3>Create @state.dog.Name 's Profile</MatH3>
            <MatH5>Please give us more details about your dog to complete the profile.</MatH5>
            <form>
                <div class="row">
                    <div class="form-group col-md-4 col-md-6" style="@state.ColStyle">
                        <label for="Breed" class="control-label">Breed</label>
                        <input type="text" class="form-control" id="breedText" placeholder="ex. German Shepard" @bind="@state.dog.Breed" @bind:event="oninput">
                    </div>
                    <div class="form-group col-xs-4 col-md-4" style="@state.ColStyle">
                        <label for="Birthday" class="control-label">Birthday</label>
                        <br />

                        <RadzenDatePicker @bind-Value="@state.dog.Birthday" DateFormat="d" Change="@(args => state.GetAge(args))" Placeholder="Click icon to pick date..." />
                        <br />
                        @state.dog.Age
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="form-group col-xs-4 col-md-4" style="@state.ColStyle">
                        <label for="Gender" class="control-label">Gender</label>
                        <br />
                        <MatRadioGroup @bind-Value="@state.dog.Gender" TValue="string">
                            <MatRadioButton Value="@("female")" Label="Female" TValue="string"></MatRadioButton>
                            <MatRadioButton Value="@("male")" TValue="string">Male</MatRadioButton>
                        </MatRadioGroup>
                    </div>
                    <div class="form-group col-xs-4 col-md-4" style="@state.ColStyle">
                        <label for="Weight" class="control-label">Weight</label>
                        <RadzenSlider @bind-Value="@state.dog.Weight" TValue="int" Min="0" Max="300" Style="margin-bottom: 20px;" />
                        <br />
                        Weight: @state.dog.Weight lbs.
                    </div>
                </div>

                <br />
                <div class="form-group" style="@state.ColStyle">
                    <h3>Profile Image</h3>
                    <input type="file" @ref="inputTypeFileElement" @onchange="@ReadFile" />
                    <br /><br />
                    @if (imgInProgress)
                    {
                        <div class="col-lg-12">
                            <Flow Size="75px" Color="#003366" Center="true" />
                        </div>
                    }
                    else
                    {
                        <br />
                        @if (profileImage.Length > 0)
                        {
                            <h5>Preview: </h5><br />
                            <img src="@profileImage" style="max-height:400px;height:auto" />
                        }
                        else if (state.dog.ProfileImage != null)
                        {
                            if (!state.dog.ProfileImage.Contains("dogmatch_paw.png"))
                            {
                                <h5>Current Profile Image: </h5><br />
                                <img src="@state.dog.ProfileImage"
                                     style="max-height:400px;height:auto" />
                            }
                        }
                    }
                </div>
                <br />
                <button type="button" class="btn btn-outline-primary" @onclick="@state.UpdateDoggo">Create Doggo</button>
            </form>
            <br />
            <br />
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public int Id { get; set; }
    public ElementReference inputTypeFileElement;
    public bool imgInProgress = false;
    public string profileImage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await state.GetDoggo(Id);
    }

    // handle profile image
    public async Task ReadFile()
    {
        imgInProgress = true; // animation

        foreach (var file in await fileReaderService.CreateReference(inputTypeFileElement).EnumerateFilesAsync())
        {
            var fileInfo = await file.ReadFileInfoAsync();
            state.dog.Extension = Path.GetExtension(fileInfo.Name);

            await using (MemoryStream memoryStream = await file.CreateMemoryStreamAsync(4096))
            {
                var img = memoryStream.ToArray();
                profileImage = $"data:image/jpg;base64,{Convert.ToBase64String(img)}";
                state.dog.ProfileImage = profileImage;
            }
        }
        imgInProgress = false;
    }
}
