@page "/MyDoggos"
@using Microsoft.AspNetCore.Authorization
@using DogMatch.Client.Services

@attribute [Authorize]
@inject DogState state

<MatH2>My Doggos</MatH2>
<br />

@if (state.doggos == null)
{
    <div class="col-lg-12">
        <Flow Size="200px" Color="#003366" Center="true" />
    </div>
}

<RadzenDataList WrapItems="true" AllowPaging="true" Data="@state.doggos" TItem="DogMatch.Shared.Models.Dog">
    <Template Context="dog">
        <RadzenCard Style="width:300px;">
            <img src="@dog.ProfileImage"
                 style="width:100%;height:auto" />
            <div class="row">
                <div class="col-md-6">
                    <div style="margin-top:20px">Name:</div>
                    <b>@dog.Name</b>
                    <div style="margin-top:20px">Breed:</div>
                    <b>@dog.Breed</b>
                    <br />
                    <div style="margin-top:20px">Gender:</div>
                    <b>@dog.Gender</b>
                </div>
                <div class="col-md-6">
                    <div style="margin-top:20px">Weight:</div>
                    <b>@dog.Weight</b>
                    <div style="margin-top:20px">Birthday/Age</div>
                    @if (dog.Birthday.HasValue)
                    {
                        <b>@dog.Birthday.Value.ToShortDateString() <br /> @dog.Age</b>
                    }
                    <div style="margin-top:20px">Owner</div>
                    <b>@dog.Owner</b>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <button type="button"
                            class="btn btn-outline-primary"
                            @onclick="@(e => state.ViewProfile(dog.Id))">
                        View Profile
                    </button>
                </div>
                <div class="col-md-6">
                    <button type="button"
                            class="btn btn-outline-info"
                            @onclick="@(e => state.UpdateProfile(dog.Id))">
                        Update Profile
                    </button>
                </div>
            </div>
        </RadzenCard>
    </Template>
</RadzenDataList>


@code {
    protected override async Task OnInitializedAsync()
    {
        await state.GetAllDoggos();
    }
}