@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using DogMatch.Client.Services
@using DogMatch.Client.Components.RandomDog

@inject NavigationService navigate
@inject SignOutSessionStateManager SignOutManager

<nav class="@NavClass">
    <div class="container">
        <NavLink class="navbar-brand text-light"
                 href="/"
                 Match="NavLinkMatch.All">
            <MatIcon Icon="pets" Class="brand-icon-align" />
            <span class="brand-text-align">
                DogMatch
            </span>
        </NavLink>        
        <button class="navbar-toggler"
                @onclick="() => ToggleNavMenu(false)"
                @onfocusout="() => ToggleNavMenu(true)"
                type="button"
                data-toggle="collapse"
                data-target=".navbar-collapse"
                aria-controls="navbarSupportedContent"
                aria-expanded="!@collapseNavMenu"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="CollapseNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link"
                                     href="/AllDoggos"
                                     Match="NavLinkMatch.All">
                                <MatIcon Icon="apps" Class="icon-align" />
                                <span class="nav-text-align">
                                    &nbsp; All Doggos
                                </span>

                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link"
                                     href="CreateDoggo"
                                     Match="NavLinkMatch.Prefix">
                                <MatIcon Icon="add" Class="icon-align" />
                                <span class="nav-text-align">
                                    &nbsp; Create Doggo
                                </span>
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link"
                                     href="OwnerPortal"
                                     Match="NavLinkMatch.Prefix">
                                <MatIcon Icon="widgets" Class="icon-align" />
                                <span class="nav-text-align">
                                    &nbsp; Owner Portal
                                </span>
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link"
                                     @onclick="() => RandomDogModal.Open()"
                                     Match="NavLinkMatch.Prefix"
                                     href="#">
                                <MatIcon Icon="slideshow" Class="icon-align" />
                                <span class="nav-text-align">
                                    &nbsp; Random
                                </span>
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>

                @if (!collapseNavMenu)
                {
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link"
                                         href="authentication/profile"
                                         Match="NavLinkMatch.Prefix">
                                    <span class="oi oi-person"
                                          aria-hidden="true"
                                          style="margin-left:2px;">
                                    </span>
                                    &nbsp; Profile
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link"
                                         @onclick="BeginSignOut"
                                         Match="NavLinkMatch.Prefix"
                                         href="#">
                                    <span class="oi oi-account-logout"
                                          aria-hidden="true"
                                          style="margin-left:2px">
                                    </span>
                                    &nbsp; Log Out
                                </NavLink>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link"
                                         href="authentication/register"
                                         Match="NavLinkMatch.Prefix">
                                    <span class="oi oi-clipboard"
                                          aria-hidden="true">
                                    </span>
                                    &nbsp; Register
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link"
                                         href="authentication/login"
                                         Match="NavLinkMatch.Prefix">
                                    <span class="oi oi-account-login"
                                          aria-hidden="true">
                                    </span>
                                    &nbsp; Login
                                </NavLink>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                }
            </ul>

            @if (collapseNavMenu)
            {
                <div class="dropdown" style="position: absolute; right: 25px;">
                    <button class="btn btn-secondary btn-sm dropdown-toggle"
                            @onclick="() => ToggleProfileMenu(false)"
                            @onfocusout="() => ToggleProfileMenu(true)"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="@expandedState"
                            style="background-color:#367385;">
                        <AuthorizeView>
                            <Authorized>
                                <span class="oi oi-person" aria-hidden="true"></span>
                                @if (string.IsNullOrWhiteSpace(context.User.Identity.Name))
                                {
                                    <span>Profile</span>
                                }
                                else
                                {
                                    @context.User.Identity.Name
                                }
                            </Authorized>
                            <NotAuthorized>
                                Login/Register
                            </NotAuthorized>
                        </AuthorizeView>
                    </button>
                    <div class="dropdown-menu @profileMenuStyle"
                         aria-labelledby="dropdownMenuButton">
                        <AuthorizeView>
                            <Authorized>
                                <NavLink class="nav-link dropdown-item text-dark"
                                         href="authentication/profile"
                                         Match="NavLinkMatch.Prefix">
                                    <span class="oi oi-person"
                                          aria-hidden="true">
                                    </span>
                                    &nbsp Profile
                                </NavLink>
                                <NavLink class="nav-link dropdown-item text-dark"
                                         @onclick="BeginSignOut"
                                         href="#"
                                         Match="NavLinkMatch.Prefix">
                                    <span class="oi oi-account-logout"
                                          aria-hidden="true">
                                    </span>
                                    &nbsp Log Out
                                </NavLink>
                            </Authorized>
                            <NotAuthorized>
                                <NavLink class="nav-link dropdown-item text-dark"
                                         href="authentication/register"
                                         Match="NavLinkMatch.Prefix">
                                    <span class="oi oi-clipboard"
                                          aria-hidden="true">
                                    </span>
                                    &nbsp Register
                                </NavLink>
                                <NavLink class="nav-link dropdown-item text-dark"
                                         href="authentication/login"
                                         Match="NavLinkMatch.Prefix">
                                    <span class="oi oi-account-login"
                                          aria-hidden="true">
                                    </span>
                                    &nbsp Login
                                </NavLink>
                            </NotAuthorized>
                        </AuthorizeView>
                    </div>
                </div>
            }
        </div>
    </div>
    <RandomDogModal @ref="RandomDogModal" />
</nav>

@code {
    public RandomDogModal RandomDogModal { get; set; }
    private bool expandedState = false;
    private string profileMenuStyle = null;
    bool collapseNavMenu = true;

    /// <summary>
    /// Toggles the expanded state of the user profile menu button dropdown
    /// </summary>
    /// <param name="outFocus"><see cref="bool"/> is true if toggling due to out focus event</param>
    private async Task ToggleProfileMenu(bool outFocus)
    {
        if (outFocus)
        {
            // delay execution when out focus toggling to allow link clicking
            await Task.Delay(400);
            expandedState = false;
            profileMenuStyle = null;
        }
        else
        {
            expandedState = !expandedState;
            profileMenuStyle = expandedState ? "show" : null;
        }
    }

    /// <summary>
    /// Toggles the collapsed state of the main nav menu dropdown
    /// </summary>
    /// <param name="outFocus"><see cref="bool"/> is true if toggling due to out focus event</param>
    private async Task ToggleNavMenu(bool outFocus)
    {
        if (outFocus)
        {
            // delay execution when out focus toggling to allow link clicking
            await Task.Delay(400);
            collapseNavMenu = true;
        }
        else
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }

    /// <summary>
    /// Directly collapses main nav menu by setting collapseNavMenu = true
    /// </summary>
    void CollapseNavMenu() => collapseNavMenu = true;

    /// <summary>
    /// Sets sign out state and navigates to logout
    /// </summary>
    /// <param name="args"><see cref="MouseEventArgs"/> arguments for mouse event</param>
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        navigate.ToLogout();
    }

    #region Styles
    private string NavMenuCssClass => collapseNavMenu ? "collapse navbar-collapse d-lg-inline-flex flex-lg-row-reverse" : "navbar-collapse d-lg-inline-flex flex-lg-row-reverse expanded-nav-custom";
    private string NavClass = "navbar navbar-expand-lg navbar-toggleable-lg navbar-dark border-bottom box-shadow mb-3 fixed-top";
    #endregion Styles
}
